<button 
    <% if (locals.id) { %> 
        id="<%= locals.id %>" 
    <% } %> 
    class="
        btn 
        waves-light 
        waves-effect 
        <%= locals.color ? locals.color : "blue-grey" %>
        <%= locals.darken ? locals.darken : "darken-3" %> 
        <%= locals.extraClasses ? locals.extraClasses.join(' ') : '' %>
    ">
    <% if (locals.icon) { %>
        <i class="material-icons left"><%= locals.icon %></i>
    <% } %>

    <%= locals.text %>
</button>