<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="<%= locals.root %>/images/favicon.ico" type="image/x-icon" />
    <link rel="shortcut icon" href="<%= locals.root %>/images/favicon.ico" type="image/x-icon" />

    <!-- Bootstrap core CSS -->
    <link href="<%= locals.root %>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= locals.root %>/css/jumbotron.css" rel="stylesheet">

    <!-- Helper css for this site -->
    <link href="<%= locals.root %>/css/helper.css" rel="stylesheet">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <h1 class="navbar-brand unselectable" >TLA Kafka Monitor</h1>
    </nav>
</head>